.container {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

button {
  height: 50px;
  width: 150px;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 10px;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  min-height: 100vh;
  align-items: center;
}

h1 {
  margin: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: clamp(3rem, 8vw, 8rem);
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin: 10px;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
